# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=<run: openssl rand -base64 32>

# Cognito OIDC (from CDK outputs after deploy)
# COGNITO_ISSUER format: https://cognito-idp.<region>.amazonaws.com/<userPoolId>
COGNITO_CLIENT_ID=<UserPoolClient ID from CDK output UserPoolClientId>
COGNITO_CLIENT_SECRET=<retrieve from AWS Console: Cognito > App clients > Show client secret>
COGNITO_ISSUER=https://cognito-idp.us-east-1.amazonaws.com/<UserPoolId>
